<div class="container">
    <div *ngIf="url==''">
        <div class="row">

            <div class="col order-lg-2 text-start">
                <div class="lead">Generate a self destructing encrypted note</div>
                <p>
                    This site creates an encrypted note, only readable with the generated URL, and can only be read
                    once. Once the note has been read, it's deleted from the system.
                </p>
                <p>For more information see <a [routerLink]="['/about']">About</a>.</p>
                <div class="lead">Want a persistent encrypted store?</div>
                <p>
                    <a href="/code">Code</a> allows you to use your own password to create a persistent encrypted data store.
                </p>
                <p>
                    <a href="/locker">Locker</a> allows you to create a persistent encrypted data store with a random code.
                </p>
            </div>
            <div class="col text-center">
                <textarea name="data" id="data" cols="80" rows="10" [(ngModel)]="data"></textarea><br>
                <div>
                    <button class="btn btn-primary mx-2" (click)="submit()">
                        Get URL
                        <div class="spinner-border spinner-border-sm text-info" role="status" *ngIf="loading">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </button>
                    <button class="btn btn-primary mx-2" (click)="submitShort()">
                        Get Short URL
                        <div class="spinner-border spinner-border-sm text-info" role="status" *ngIf="loadingShort">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="url != ''">
        <div>
            <a href="/{{url}}">Safe Link</a>
        </div>
        <button class="btn btn-secondary" (click)="reset()">Create Another</button>
    </div>
</div>
