<div class="container">

    <div *ngIf="data == ''" class="text-center">
        <div class="m-5">
            <div class="border shadow p-5 bg-warning">
                <h1>This note will self destruct</h1>
                <p>It can only be read once, be sure you're ready to read it</p>
                <button class="btn btn-primary" [ngClass]="{disabled:notfound}" (click)="fetch()">
                    Continue
                    <div class="spinner-border  spinner-border-sm text-info" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="notfound">
            Note not found. It must have been read and deleted already.
        </div>
    </div>

    <div *ngIf="data != ''">
        <div class="row">
            <div class="col">
                <textarea name="data" id="data" cols="80" rows="10" [(ngModel)]="data"></textarea><br>
                <button class="btn btn-secondary" onclick="copy_to_clipboard('data')">Copy to clipboard</button>
            </div>
            <div class="col">
                Please copy your note and save it to a safe place. It has already been deleted from our system, and cannot be read again.
            </div>
        </div>
    </div>
</div>