<div class="container">
    <div *ngIf="url=='';else ShowLink">
        <div class="text-center col-lg-4 offset-lg-4 col-12">
            <button class="btn btn-primary" (click)="submit()">
                Get Locker Link
                <span *ngIf="!isLoading;else Loading"></span>
            </button>
        </div>
    </div>


    <div class="border shadow p-5 m-5">
        <div class="lead">Link based persistent encrypted data storage.</div>
        <p>
            Generates a unique link to store your message. The code is hashed before storage, and the message is AES
            encrypted. Use the same link again to retrieve the message.
        </p>
        <p>
            Without the right link, the message cannot be found or read.
        </p>
    </div>
</div>

<ng-template #ShowLink>
    <div class="text-center alert alert-warning">
        <p>
            <a href="/l/{{url}}">Locker Link</a>
        </p>
        <h2>Bookmark this link!</h2>
        <p>If you lose the link, your data is irrecoverable.</p>
    </div>
</ng-template>
<ng-template #Loading>
</ng-template>